body {
    margin: 0;
    overflow-x: hidden;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5em;
    background-color: #f9f9f9;
    color: #01080D;
}

.step {
    min-height: 800px;
    padding: 20px;
    margin: 50px;
    font-size: 1.5em;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

.scrolly-container {
    position: relative;
}

h2 {
    position: fixed;
    font-size: 36px;
    color: #333;
    z-index: 10;
}

.image {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

#overlay-image {
    position: absolute;
    top: 5%;
    left: 60%;
    z-index: 10;
    width: 250px;
    height: 140px;
}

svg {
    position: relative;
    z-index: 1;
}
