/* styling for the body  F2E8DC*/
body {
    margin: 0;
    overflow-x: hidden;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5em;
    background-color: #f9f9f9;
    color: #01080D;
}

/* styling for each subsection */
.step {
    min-height: 800px; 
    padding: 20px;
    margin: 50px;
    font-size: 1.5em;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    position: relative;
}

/* styling for the the entire container */
.scrolly-container {
    position: relative; 
}
.text {
    position: relative;
    z-index: 1; /* keep the text above the image */
}

/* styling for the image */
#fixed-image {
    position: fixed; /* Keep image fixed */
    transition: width 1s ease, height 1s ease, top 1s ease, left 1s ease;
    z-index: 10; /* Keep image in front */
    pointer-events: none; /* Prevent the image from blocking interactions */
}
.overlay-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    transition: opacity 0.3s ease;
    opacity: 0; 
}

/* styling for headers */
h2 {
    position: fixed;
    transition: top 1s ease, left 1s ease; /* Smooth transitions */
    font-size: 36px;
    color: #333; 
    z-index: 10;
}
