svg {
    display: block;
    margin: 0 auto;
    border: 1px solid #ccc; /* Optional, for debugging */
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5em;
    background-color: #f9f9f9;
    color: #01080D;
}

.step {
    min-height: 800px;
    padding: 20px;
    margin: 50px;
    font-size: 1.5em;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

.scrolly-container {
    position: relative;
}

h2 {
    font-size: 36px;
    color: #333;
    z-index: 10;
}

.image {
    display: block;
    margin: 0 auto; /* Center horizontally */
    max-width: 100%;
    height: auto;
}

#overlay-image {
    position: absolute;
    top: 5%;
    left: 60%;
    z-index: 10;
    width: 250px;
    height: 140px;
}

svg {
    display: block !important;
    position: relative;
    width: 100%;
    height: auto;
}

h3 {
    font-size: 0.5em; 
    margin: 0; 
}

/* intro specific */
.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.intro-image-container {
    display: flex;
    justify-content: space-between;
    gap: 0px;
    max-width: 100%;
}

.intro-image {
    height: auto;
    object-fit: contain;
    max-width: 100%;
}
#intro-image-1 {
    flex: 0 0 30%; 
    max-width: 30%;
}
#intro-image-2 {
    flex: 0 0 65%; 
    max-width: 65%;
}
#banner-image {
    width: 100%; 
    max-width: 100%;
}



/* education specific */
/* Slider stuff */
#yearSlider {
    width: 80%;
    appearance: none;
    height: 6px;
    background: linear-gradient(to right, red 60%, blue 40%);
    outline: none;
    margin: 20px auto 10px;
    display: block;
}
#yearLabel {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 1.2em;
}
.slider-container {
    margin-top: 15px;
}
input#yearSlider {
    width: 600px;
    appearance: none;
    height: 6px;
    background-color: #888;
    outline: none;
    margin: 20px auto 10px;
    display: block;
}

.education-container {
    display: flex;
    align-items: center; 
    gap: 20px;
    justify-content: space-between;
    width: 100%;
}
.education-svg-container {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}
.education-image-text-container {
    flex: 0 0 40%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
}

.text-center {
    text-align: center;
}
/* #education-image {
    margin-top: 100px;
} */

.education-image-text-container h3 {
    margin-bottom: 15px;
}

/* buttons */
.education-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.education-button:hover {
    background-color: #2980b9;
}
.button-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.education-button.selected {
    background-color: #114474; /* Darker blue or another shade */
    border: 2px solid #114474; /* Border to highlight selected state */
    color: white; /* Ensuring text is visible */
}
.state {
    fill: #ccc;  /* Default color for states */
    stroke: #333;  /* Outline color for states */
    stroke-width: 0.5;
}
.education-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    color: #666;
}