body {
    margin: 0;
    overflow-x: hidden;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5em;
    background-color: #f9f9f9;
    color: #01080D;
}

.step {
    min-height: 800px;
    padding: 20px;
    margin: 50px;
    font-size: 1.5em;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

.scrolly-container {
    position: relative;
}

h2 {
    position: fixed;
    font-size: 36px;
    color: #333;
    z-index: 10;
}

.image {
    position: absolute;
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

#overlay-image {
    position: absolute;
    top: 5%;
    left: 60%;
    z-index: 10;
    width: 250px;
    height: 140px;
}

svg {
    display: block !important;
    position: relative;
}




/* education specific */
#yearSlider {
    width: 80%;
    appearance: none;
    height: 6px;
    background-color: #888;
    outline: none;
    margin: 20px auto 10px;
    display: block;
}
#yearLabel {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 1.2em;
}
#yearSlider::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    background: #4a4a4a;
    border-radius: 50%;
    cursor: pointer;
}
#yearSlider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #4a4a4a;
    border-radius: 50%;
    cursor: pointer;
}

.education-container {
    display: flex; 
    align-items: flex-end; /* Align items to the bottom */
    align-items: center; 
}
.education-svg-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin-left: 20px;  */
    position: relative;
}
.text-center {
    text-align: center;
}
#visualization-education {
    width: 800px;
    height: 600px;
    position: relative;
}
#education-image {
    margin-top: 80px;
}